*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
#root {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: sans-serif;
	margin: 0;
	background: #d3d3d3;
}

/* Base Classes */
.full-width {
	width: 100%;
}

.flex-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.flex-row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.overflow-scroll {
	overflow: scroll;
}

.align-center {
	text-align: center;
}

/* App.tsx */
.app {
	width: 75%;
	height: 50%;
	display: flex;
	flex-direction: column;
}

.title {
	font-size: 1.5rem;
	text-align: center;
	margin: 0px;
}

/* Calender */
.week-month {
	font-size: 1.5rem;
	font-weight: 600;
	text-align: center;
	color: #808080;
	margin: 3rem 0rem 1rem;
}

.calendar {
	width: 100%;
	min-height: 100px;
}

.custom-date {
	width: 100%;
	height: 100%;
	background: #ffffff;
	border-radius: 8px;
	opacity: 0.5;
}

/* Navigation.tsx */
.navigation {
	min-width: 25px;
	width: 75px;
	height: 75px;
	cursor: pointer;
}

.arrow {
	min-width: 25px;
	width: 100%;
	height: 100%;
}

/* WeekDays.tsx */
.week-day {
	min-width: 25px;
	width: calc((100% - 174px) / 7);
	height: 75px;
	background: #efefef;
	padding: 1rem;
	border-radius: 0.5rem;
	cursor: pointer;
	margin: 0px 6px;
	color: #7a7a7a;
}

.date {
	font-size: 1.5rem;
	font-weight: 700;
	margin: 0px;
	margin-bottom: 0.5rem;
}

.day {
	font-size: 0.875rem;
	margin: 0px;
}

.today {
	color: #ffffff;
	background: #7c63de;
}

.activeDate {
	color: #ffffff;
	background: #fed000;
}
